<%- partial('_partial/header') %>

<!-- List of posts ( archive.ejs ) -->

<main>
	<ul id="postlist">
		<% page.posts
			.filter((a) => a.published)
			.forEach(function(item){ %>
			<%- partial('_partial/content-list', {item: item}) %>
		<% }); %>
	</ul>
</main>

<!-- Paginator -->

<%- partial('_partial/pagination') %>