<!-- List of posts ( archive.ejs ) -->
<body id="list">

	<%- partial('_partial/navigation') %>

	<main>
		<ul id="postlist">
			<% page.posts
				.filter((a) => a.published)
				.forEach(function(item){ %>
				<%- partial('_partial/content-list', {item: item}) %>
			<% }); %>
		</ul>
	</main>

	<!-- Paginator (disabled in config.yml) -->

	<%- partial('_partial/pagination') %>

</body>