<!-- The landing page - index.ejs -->

<body id="home">
  <header>
    <h1><%- config.title %> </h1>
    <h2><%- config.tagline %></h2>
  </header>

  <nav>
    <div id="nav-top">
      <div class="centre-line"></div>
      <div id="nav-centre">
        <a href="/inklings-of-identity/">
          <img src="/images/profile-image.jpg" id="profile-image">
        </a>
      </div>
      <div class="centre-line"></div>
    </div>

    <div id="nav-bottom">
        <a href="/adaptive-travel/">Adaptive Travel</a>
        <a href="/photography/">Photography</a>
        <a href="/thoughts/">Thoughts</a>
        <a href="/projects/">Projects</a>
    </div>
    
  </nav>

  <main>
    <% if (config.message) { %>
    <aside>
      <%- config.message %>
    </aside>
    <% } %>
  </main>
</body>