<!-- Post Laytout (post.ejs) -->
<body class="post">
  <main>

    <%- partial('_partial/header', {title: page.title, category: page.categories[0]}) %>

    <article>

      <% if (page.youtube) { %>
        <%- partial('_partial/embed-youtube', {item: page}) %>
      <% } else { %>
        <%- partial('_partial/post-image', {item: page}) %>
      <% } %>

      <%- page.content %>

    </article>
  </main>
</body>